.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: linear-gradient(#fff, #b6c7d9);
  position: absolute;
  overflow: auto;
}

.box {
  width: 250px;
  height: 250px;
  margin: 25px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.blue {
  background: #7dd1fd;
}

.pink {
  background: #fec0cd;
}

input {
  padding: 10px;
  width: 40px;
  border-radius: 2px;
  border: 1px solid black;
  margin-left: 10px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='radio'] {
  width: unset;
  margin-left: 0px;
  margin-bottom: 10px;
}
